/*	Основная форма	*/
#main{
	width: 550px;
	margin: 0 auto;
}

/*	Меню со вкладками	*/
#main ul{
	list-style: none;
	list-style-position: outside;
}

#main ul.menu	{margin-left: 10px}
#main ul.menu li	{
	background: #ddd;
	border: 1px solid #aab;
	border-radius: 2px 2px 0 0;
	color: #aaa;
	cursor: pointer;
	float: left;
	font-weight: bold;
	margin-left: 7px;
	padding: 5px 10px;
	position: relative;
	top: 1px;
	_box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
	margin-bottom: -2px;
	text-shadow: #e8e8e8 1px 1px 0px;
}

#main ul.menu li.active {
	background: #f8f8f8;
	border-bottom: none;
	margin-top: -1px;
	color: #0088ee;
	_color: #222;
	z-index:1;
    position:relative;
	_box-shadow: 1px 0 1px rgba(0,0,0,.15), -1px 0 1px rgba(0,0,0,.15);
	_box-shadow: 0px 2px 1px rgba(0,128,255,.2) inset;
	background:	 -webkit-linear-gradient(top, #adf -1px, #f8f8f8 10%);
	background:		-moz-linear-gradient(top, #adf -1px, #f8f8f8 10%);
	border-top-color: #77c0ff;
}

/*	Необходимо для вкладочного меню */
.clear {clear: both; height: 0; display: block} 

/*	Содержимое вкладок	*/
.content {
	background: #f8f8f8;
	background:	 -webkit-linear-gradient(top, #f8f8f8, #ddd);
	background:		-moz-linear-gradient(top, #f8f8f8, #ddd);
	border: 1px solid #b8b8b8;
	border-radius: 2px;
	_box-shadow: 2px 2px 3px rgba(0,0,0,.3);
	display: none;
	height: 345px;
	padding: 25px;
	position: relative;
}

.content.tab1		{display: block}

#tab1 input {width: 120px; height: 20px; padding: 0 2px}
#tab1 select {width: 185px;	height: 20px}
#tab1 input.fio {text-transform: capitalize}
label {color: #777}

#tab3 {visibility: hidden}


label.req {
	_font-weight: bold;
	color: #d00;
}*/

label.req:after {
	content: "*";
	color: red;
	padding-left: 0.1em;
}


div#userdetails {
	margin: 0 auto;
	_background: #f8f8f8;
	_background:	 -webkit-linear-gradient(top, #f8f8f8, #ddd);
	_background:		-moz-linear-gradient(top, #f8f8f8, #ddd);
	_border: 1px solid #b8b8b8;
	border-radius: 2px;
	text-align: left;
	padding: .5em 1em;
	width: 1000px;
}

div#userdetails hr {
	margin: 0 3%;
}

div#userdetails h3 {
	margin: 0 3%;
	color: #000;
	text-shadow: 1px 1px 0 #fff;
	font-size: 1.2em;
	background:  -webkit-linear-gradient(top, rgba(171,213,243,.6), rgba(220,240,255,.3) 90%);
	background: 	-moz-linear-gradient(top, rgba(171,213,243,.6), rgba(220,240,255,.3) 90%);
	background: 		-linear-gradient(top, rgba(171,213,243,.6), rgba(220,240,255,.3) 90%);
	padding: .15em .5em .15em;
	border: 1px solid black;
	border-color: hsl(210,50%,80%);
	border-width: 0 1px;
	border-radius: 2px 2px 0 0;
	font-weight: normal;
	font-family: Calibri, "Arial";
	cursor: pointer;
	-webkit-user-select: none;
}

div#userdetails label {
	display: inline-block;
	_width: 30%;
	text-align: right;
}

div#userdetails label.comment {
	width: 100%;
	text-align: center;
}

div#userdetails textarea.comment {
	width: 300px;
	height: 200px;
}

#userdetails input	{width: 65%;	height: 20px; padding: 0 2px}
#userdetails select	{width: 65%;	height: 20px}
#userdetails input.fio {text-transform: capitalize}

img#Photo{
	margin: 10px 0;
	padding: 12px;
	border: 1px solid #888;
	border-radius: 7px;
	background: #fff;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
	_float: left;
	text-align: center;
	
}

#userdetails table {
	_margin: 0 2%;
}

#userdetails td {
	text-align: center;
}

#userdetails label {
	display: block;
	font-size: 1.2em;
}

#userdetails input,
#userdetails select
{
	font-size: 1.2em;
	height: 1.5em;
}

#userdetails input	{width: 200px}
#userdetails select	{width: 206px}

#userdetails input[type=checkbox]{
	width: 20px;
	height: 1.5em;
}

#userdetails div.module {
	border-radius: 0 0 2px 2px;
	background-color: rgba(220,240,255,.3);
	_margin-bottom: 15px;
	border: 1px solid hsl(210,50%,80%);
	border-top-width: 0;
}

#userdetails form {
	margin: 0 3.05%;
	_padding-bottom: 40px;
}

.save-block {
	margin: 0;
	text-align: right;
	padding: 0 1em 1em 1em;
}
