<a id="help_button">
    <img src="/stat/img/helpdesk/help_32x32.png">
</a>
<div id="help_baloon" class="hidden">
    <h2>Cистема регистрации и учёта обращений в ИТ-отдел (Задачник)</h2>

    <p>
        <h3>Назначение</h3>
        <ul>
            <li>Регистрация, учёт и обработка обращений пользователей (сотрудников ДППА Авто-Старт) в службу технической поддержки отдела Информационных Технологий (далее, ИТ-отдел), с целью разрешения проблем пользователей с компьютерами (как аппаратным, так и программным обеспечением), оргтехникой и пр.;</li>
            <li>Эскалация заявок (передача и контроль выполнения) при необходимости привлекая к решению проблемы специалистов из смежных отделов ДППА Авто-Старт;</li>
            <li>Оценка эффективности работы сотрудников ИТ-отдела и всего отдела в целом.</li>
        </ul>
    {#</p>#}
    <p>
        <h3>Функции</h3>
        <ul>
            <li>Создание заявок</li>
            <li>Просмотр истории заявок (список предыдущих заявок)</li>
            <li>Закрытие и оценка качества выполненных заявок</li>
        </ul>
    {#</p>#}
    <p>
        <h3>Создание заявки</h3>
        <ul>
            <li>Перейдите на вкладку "Новая заявка"</li>
            <li>Заполните поля:<br>
                "Тема" - тема заявки, например: "Не работает клавиатура"<br>
                "Описание" - подробное описание заявки. Необходимо как можно более подробно описать суть проблемы.</li>
        </ul>
    {#</p>#}
    <p>
        <h3>Просмотр истории заявок</h3>
        <ul>
            <li>Перейдите на вкладку "Мои заявки"</li>
            <li>В списке заявок Вы можете видеть информацию по ранее созданным заявкам.</li>
            <li>Если Вас интересует информация по какой-либе заявке, найдите её в списке, кликните по заголовку. В открывшемся окне заявки Вы может узнать её номер, стостяние (статус), комментарии специалистов ИТ-отдела и пр.</li>
        </ul>
    {#</p>#}
    <p>
        <h3>Закрытие и оценка качества выполненных заявок</h3>
        <ul>
            <li>Перейдите на вкладку "Мои заявки"</li>
            <li>Найдите нужную заявку и кликните по её заголовку</li>
            <li>Произведите оценку заявки</li>
        </ul>
    {#</p>#}
    <br>
    <p align='center'>
        <a class="button red" onclick="$('#help_baloon').toggleClass('hidden')">Закрыть</a>
    </p>
</div>